body {
    background-color: #f3f3f3;
    margin: 0 auto;
    border: 5px outset;
     border-radius: 25px;
    width: 320px;
    padding: 1em;
}

.interestinginfo {
    font-style: italic;
}

span {
    font-weight: bold;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.content {
    border: 10px;
}

